html, body {
    font-family:arial;  
    font-size:12px;
    height:100%;
    width:100%;
    margin:0px;
}
 
ul.slideshow {
    list-style:none;
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
    margin:0;
    padding:0;
     
}   

ul.slideshow li {
    position:absolute;
    left:0;
    right:0;
}
 
ul.slideshow li.show {
    z-index:500;    
}
 
ul img {
    border:none; 
    height:auto;
    width:auto;   
}
 
/* Slideshow Title */
#slideshow-title {
    width:auto;
    height:70px;
    position:absolute;
    top:20px;
    left:20px; 
    color:#fff;
    background:#000;
    z-index:500;
}
 
#slideshow-title h3 {
    margin:0;
    padding:0;  
    font-size:50px;
}

#slideshow-title .slideshow-caption-container {
    padding:5px 10px;   
    z-index:1000;  
}
/* End of Slideshow Title */

/* Slideshow Menu */
#slideshow-menu {
    width:200px;
    height:70px;
    position:absolute;
    top:20px;
    left:20px; 
    color:#fff;
    background:#000;
    z-index:500;
}
/* End of Slideshow Menu */

/* Slideshow Caption */
#slideshow-caption {
    width:450px;
    height:70px;
    position:absolute;
    bottom:0;
    left:0; 
    color:#fff;
    background:#000;
    z-index:500;
}


#slideshow-caption .slideshow-caption-container {
    padding:5px 10px;   
    z-index:1000;   
}

#slideshow-caption h3 {
    margin:0;
    padding:0;  
    font-size:14px;
}
 
#slideshow-caption p {
    margin:5px 0 0 0;
    padding:0;
}
/* End of Slideshow Caption */